#app {

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: 210px;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: 210px !important;
    background-color: @sidebarBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    .is-horizontal {
      display: none;
    }

    .el-menu {
      border: none;
      span {
        position: absolute;
        left: 54px;
      }

      //字体激活时颜色
      .router-link-active .el-menu-item {
        color: @menuActText;
        background-color: #ecf5ff;
        border-radius: 8px;
      }

      //字体默认颜色
      .is-active {
        color: @menuText;
      }

      //给样式加一个内边距美化
      a{
        display: block;
        padding: 5px;
      }
      .el-sub-menu__title{
        padding-left: 25px !important;
      }
    }
    

    .is-active>.el-sub-menu__title {
      color: @subMenuActText;
    }

    .submenu-title-noDropdown,
    .el-sub-menu__title {
      &:hover {
        color: @menuActText !important;
        background-color: white;
      }
      &:active{
        color:@menuActText !important;
        background-color: #ecf5ff;
        border-radius: 8px;
      }
    }

    .el-menu-item {
      &:hover {
        color: @menuActText;
        background-color: white;
      }

      &:active{
        background-color: #ecf5ff;
        border-radius: 8px;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }
    .main-container {
      margin-left: 54px;
    }
    .el-sub-menu {
      overflow: hidden;

      &>.el-sub-menu__title {
        padding: 5px !important;
        .svg-icon {
          margin-left: 20px;
        }
        .sub-el-icon {
          margin-left: 19px;
        }
        .el-sub-menu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .el-sub-menu {
        &>.el-sub-menu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;
      .svg-icon {
        margin-left: 20px;
      }
      .sub-el-icon {
        margin-left: 19px;
      }
      span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        display: inline-block;
      }

    }
  }
}