@sidebarBg: rgb(117, 218, 231);

@menuActText: #1884f0;
@menuText: #66ccff;
@subMenuActText: #4f65e2;

@menuBg: #f4f4f5;
@menuHover: #c1d3e9;

@subMenuBg: #d2d9e2;
@subMenuHover: #989fa5;

:export {
  menuText: @menuText;
  menuBg: @menuBg;
}